.add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: rgb(38, 97, 97);
    border-radius: 8px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .20);
    color: #fff;
        .app-add-form {
             margin-top: 20px;
                input {
                    width: 350px;
                    margin-right: 20px;
                }
        }
}


